* {
  box-sizing: border-box;
}

::selection {
  background-color: #55acee;
}

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  color: white;
  background-color: #1f364d;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 8px 0;
  font-weight: 400;
}

p {
  color: #b9c9da;
}

a {
  color: #55acee;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

hr {
  height: 1px;
  border: 0;
  background-color: #152331;
}

ol, ul {
  color: #b9c9da;
  padding-left: 24px;
  margin: 8px 0;
}

button {
  padding: 6px 12px;
  border: 0;
  border-radius: 3px;
  background-color: #55acee;
  font-family: 'Nunito', sans-serif;
  color: white;
  cursor: pointer;
  font-size: 12px;
  font-weight: 700;
}
button.small {
  font-size: 10px;
}
button.large {
  font-size: 14px;
}
button:disabled {
  background-color: #b9c9da;
  color: #1f364d;
  cursor: default;
}

input {
  padding: 4px;
  border: solid 1px #152331;
  background-color: #152331;
  border-radius: 3px;
  color: white;
  transition: border-color ease-in-out 150ms;
}
input:focus {
  border-color: #b9c9da;
}

.no-margin {
  margin: 0;
}

.page {
  width: 960px;
  margin: 0 auto 32px auto;
  padding: 0 16px;
}

.site-header {
  display: flex;
  justify-content: space-between;
  margin: 32px 0;
}
.site-header > .left {
  color: white;
}
.site-header > .left:hover {
  text-decoration: none;
}
.site-header > .right {
  text-align: right;
}

.site-title {
  margin: 0;
  font-size: 1.75em;
}

.site-tagline {
  margin: 0;
  color: #b9c9da;
}

.site-header-link {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  line-height: 150%;
}
.site-header-link > i {
  padding: 0 4px;
}

.site-footer {
  margin: 32px 0;
}

.page-section {
  margin-bottom: 32px;
}
.page-section:last-of-type {
  margin-bottom: 0;
}

.section-header {
  margin: 8px 0;
}

.card {
  margin-bottom: 16px;
  padding: 16px;
  border-radius: 3px;
  background-color: #233b53;
}
.card:last-of-type {
  margin-bottom: 0;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

@media screen and (max-width: 960px) {
  .page {
    width: 100vw;
    padding: 0 16px;
  }
}

@media screen and (max-width: 480px) {
  .site-header {
    justify-content: flex-start;
    flex-direction: column;
  }
  .site-header > .left {
    margin-bottom: 8px;
  }
  .site-header > .right {
    text-align: left;
  }

  .site-header-link {
    flex-direction: row-reverse;
  }
}